@font-face {
	font-family: 'Abel';
	font-weight: 400;
	font-style: normal;
	src: url("http://fonts.gstatic.com/s/abel/v6/3YEwT2a1878zysq92S8_9w.eot");
	src: url("http://fonts.gstatic.com/s/abel/v6/3YEwT2a1878zysq92S8_9w.eot?#iefix") format('embedded-opentype'), local('Abel'), local('Abel-regular'), url("http://fonts.gstatic.com/s/abel/v6/UzN-iejR1VoXU2Oc-7LsbvesZW2xOQ-xsNqO47m55DA.woff2") format('woff2'), url("http://fonts.gstatic.com/s/abel/v6/wnJbeWILdr-ZMJJAMsiXsvesZW2xOQ-xsNqO47m55DA.woff") format('woff'), url("http://fonts.gstatic.com/s/abel/v6/N59kklKPso9WzbZH9jwJSg.ttf") format('truetype'), url("http://fonts.gstatic.com/l/font?kit=pb98amgrX4UHZo9JnVPobA&skey=bf47258294911e6d&v=v6#Abel") format('svg');
}

@font-face {
	font-family: 'Asap';
  font-weight: 700;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/asap/v4/KzpxSwmYdiqHjA_2Peg1Xw.eot");
  src: url("http://fonts.gstatic.com/s/asap/v4/KzpxSwmYdiqHjA_2Peg1Xw.eot?#iefix") format('embedded-opentype'), local('Asap Bold'), local('Asap-700'), url("http://fonts.gstatic.com/s/asap/v4/HI4G3wLGTX3hvDH2Yl4hXALUuEpTyoUstqEm5AMlJo4.woff2") format('woff2'), url("http://fonts.gstatic.com/s/asap/v4/QGN0GG0540fyG6NL_PpOpgLUuEpTyoUstqEm5AMlJo4.woff") format('woff'), url("http://fonts.gstatic.com/s/asap/v4/5DVGWnz9Skaq1amwwwGZEw.ttf") format('truetype'), url("http://fonts.gstatic.com/l/font?kit=CJrjw4xoDEQHEz0xOpNqmA&skey=74c571863af0d085&v=v4#Asap") format('svg');
}

html, body{
	height: 100%;
}


.plus {
	vertical-align: middle;
	max-width: 20px;
	max-height: 25px;
	transition: 0.3s ease-in-out;
}

.TDNTop {
	text-align: center;
	top: 0;
	margin: 0;
	padding: 10px;
	padding-top: 50px;
	font-family: 'Abel';
}

.TDNTop .TopNugget {
	color: #e67e00;
	display: inline;
}

.DispMenu{
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	padding-left: 5px;
	list-style: none;
	font-size: 18px;
}

.DispMenu li{
	list-style: none;
	text-decoration: none;
	overflow: hidden;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: #000;
}

.eachPost {
	display: inline-block;
	background-color: #f3f3f3;
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 70%;
	margin: 15px;
}

.eachPost .postCompTitleStyle {
	border-bottom: 1px solid #e67e00;
	width: 100%;
	display: inline-block;
	font-family: 'ASAP';
	white-space: pre-line;
	text-align: justify;
	cursor: default;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mainNav{
    background: #f3f3f3;
    max-width: 10%;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    overflow-y: scroll;
}

::-webkit-scrollbar {
display: none;
}

.eachPost .postCompBodyStyle {
	text-align: justify;
	display: inline-block;
	white-space: pre-line;
	overflow-x: hidden;
	font-family: 'ABEL';
	margin-left: 15px;
	margin-right: 15px;
}

.outerPost {
	text-align: center;
}

hr {
	width: 25%;
}

.title:hover {
	cursor: default;
}

.blogging {
	text-align: center;
}

.bloggingStyle {
	width: 70%;
	display: inline-block;
}

.mce-panel {
    margin: 0 auto !important;
	}

.textareaBlog {
	display: inline-block !important;
	width: 25% !important;
	height: 200px !important;
	margin-top: 10px !important;
}
.RichTextEditor__root___2QXK- {
	display: inline-block !important;
	width: 70% !important;
	height: 200px !important;
	margin-top: 10px !important;
}

.blogTitle {
	margin-top: 40px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
	padding: 5px 10px 5px 10px;
}

.subBlogBtn {
	border: 1px solid #000;
	background-color: transparent;
	border-radius: 50px;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	float: right;
}

.subBlogBtn:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

a {
	outline: none;
}

a:hover {
	text-decoration: none !important;
}

button {
	outline: none;
}

.postCompTitleStyle {
	text-align: center;
}

.closer {
	margin-top: 50px;
	float: right;
	cursor: pointer;
	font-size: 20px;
	vertical-align: bottom;
	text-align: right;
}

.closer:hover {
	color: #e67e00;
}

.editWrap {
	text-align: center;
}

.custom {
	text-align: right;
	width: 25%;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
}

.custom:hover {
	color: #e67e00;
}

.hiddenDef {
	display: none;
}

.note-editor.note-frame {
	max-width: 25% !important;
	margin-top: 10px !important;
	display: inline-block;
}

.note-editor.note-frame .note-editing-area .note-editable {
	height: 200px;
}

.note-editor.note-frame .note-editing-area .note-editable {
	text-align: justify;
}

.titlePost {
	color: #000 !important;
}
